/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */

@font-face {
  font-family: "Montserrat";
  src: url(./assets/fonts/Montserrat-Italic-VariableFont_wght.ttf)
}

:root{
  --font1: 'Montserrat Thin', sans-serif;  /* pour les textes */
  --font2: 'Montserrat Medium', sans-serif; /* pour les titres */
  --color1: #151515;
  --color2:#700ead;
  --color3:#ffffff;
  --color4:#f7f7f7;
}
/* css  réglage généraux */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: var(--font1), sans-serif;
  list-style: none;
}

button{
  background: none;
  outline: none;
  border: 1px solid var(--color3);
  color: var(--color4);
  text-transform: uppercase;
  font-weight: 700;
  transition: 0.4s ease;  /* pour le hover */
  cursor: pointer;
}

button:hover{
  background: var(--color4);
  color: var(--color1);
}

a{
  text-decoration: none;
}
/* ------------- */
body{
  /* background: var(--color3);
  font-family: var(--font1);
  min-height: 100vh;  */
  margin: 0 auto;
  text-align: center;
}

nav{
  max-width: 1100px;
  margin: 0 auto;
  /* font-family: var(--font2);
  font-weight: bold;
  text-transform: uppercase;
  height: 80px;   */
}

nav ul{
  display: flex; 
  justify-content: space-between;
  align-items: center; 
  padding: 0 5px;
}

nav li{
  cursor:pointer;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.9rem;
  position: relative;
  transition: 0.3s ease;  /* pour le hover */
  padding: 20px 0;
}

/* pour créer la barre au dessus */
nav li:first-child{
  color:var(--color2)
}

nav li:first-child:before{
  content:"";
  width: 100%;
  height: 5px;
  position: absolute;
  background: var(--color2);
  transform: translateY(-20px);
}
nav li:hover:before{
  content:"";
  width: 100%;
  height: 5px;
  position: absolute;
  background: var(--color2);
  transform: translateY(-20px);  
}

nav li:last-child:before{
  background: none;
}

#language{
  background: rgba(128, 128, 128, 0.25);
  border-radius: 50px;
  padding: 8px 16px;
}

.main-header{
  background: url('./assets/img/bg.jpg') fixed center/cover;
  color: var(--color3); 
  padding: 60px;
  
}

h1{
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 30px 0 35px; 
}

.main-header button{  
  padding: 15px 30px;
  letter-spacing: 2px;
}

.main-header i{
  transform: translateX(5px);
}

.header-text{
  padding: 45px 0;
  max-width: 90%;
  font-size: 1.2rem;
  line-height: 34px;
  margin: 0 auto;
}

.icon-part{
  background: var(--color1);
  padding: 65px 0;
  color:var(--color4)
}

.icon-part-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;   
}

.lip-logo{
  margin-bottom: 30px;
}

.icon-part h3{
  font-weight: 700;
  text-transform: uppercase;
}

.icon-part p{
  width: 80%;
  margin: 10px auto 20px;
}

.icon-part button{
  padding: 9px 32px ;
  }
  
.news-part{   
  background: var(--color4);
  padding: 80px 0 45px;
}

.header-news{
  display: grid;
  grid-template-columns: 70% 30%;
  max-width: 90%; 
  margin: 0 auto;
}

.left-part{ 
  line-height: 30px;  
}

.left-part h2{
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  text-align: left;  
}

.left-part p{
  font-weight: 600;
  font-size: 0.9rem;
  text-align: left;  
}

.right-part button{
  color: var(--color1);
  border-color: var(--color1);
  letter-spacing: 1px;
  padding: 10px 20px; 
}

.right-part button:hover{
  background: var(--color1);
  color: var(--color4);
}
.main-news-container{
  display: flex; 
  justify-content: space-around;
  max-width: 1100px;
  margin: 45px auto;
}

/* le chevron pour dire tous tes enfants direct qui sont des div */
.main-news-container > div{
  position: relative; /* le parent en relative pour pouvoir mettre le lien a en absolute en bas*/ 
  max-width: 23%; 
}

.mn-pic img{
  object-fit: cover; /* pour que l'image prenne toute la place du conteneur sans s'écraser*/
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 2px 10px #888;
}

.main-news-container h4{
    margin: 15px 0;
    text-align: left;
}

.main-news-container p{
  font-size: 0.8rem;
  text-align: left;
  line-height: 20px;
  margin-bottom: 45px;
}

.link {
  text-align: left;
  position: absolute;
  bottom: 0;  
 }

.main-news a{
  color: var(--color2);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.7rem;
  letter-spacing:1px;  
}

.main-news a:hover{
  color: rgb(180,180,1)
}

.main-news i{
  transform: translateX(5px);
}


.contact{
  padding: 65px 0 20px;
  max-width: 90%;
  margin: 0 auto;
}


.contact-list{
  display: flex;
  justify-content: space-around;
  font-weight: 400;
  position: relative; /* pour pouvoir faire la ligne en dessous apres */  
}

/* pour dessiner le trait */
.contact-list:after{
  content:"";
  position: absolute;
  width: 80%;
  height: 1px;
  background: rgb(235,235,235);  
  bottom: -28px;  
}

.contact-list .list{
  width: 24%;  
  text-align: left;
}

#contact-img img{
  display: block;
  margin: 0 auto;

}
.contact-list  h5{  
  text-transform: uppercase;
  margin-bottom: 15px;
  font-size: 1rem;
}

.infos-p li{
  /* cursor: pointer; */
  margin: 15px 0;  
}

.list p{
  line-height: 22px;
  margin-bottom: 15px;
}

.infos-p li a{  
  color: var(--color2);
  cursor: pointer;
  /* font-weight: bold;   */
}

.list a{ 
  color: var(--color2);
  font-weight: bold; 
}

.list h6{
  font-size: 0.8rem;
  margin-bottom: 8px;
}

.list .network{
  margin: 20px 0 8px;
}

.footer-logos i{
  font-size: 0.8rem;
  margin: 0 12px 30px 0;
  cursor: pointer;
}

.copyright{
  margin: 0;
}

.contact-medias{
  padding:60px 0 15px;
  display: flex;  
  align-items: center; 
  width: 95%; 
  margin: 0 auto;
}

.medias-text{
  text-align: left;
  width: 30%;  
}

.medias-text h3{  
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-bottom: 12px;  
}

.medias-text p{
  font-size: 0.8rem;  
} 

.medias-logos{
  display: flex; 
  justify-content: space-around;
  width: 70%;
}

.medias-logos img{
  width: 60px;  
}

footer{
  background: var(--color1);
  color: var(--color4);
  padding: 25px;
  
}

footer h3{
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 32px;
 }



footer ul{
  display: flex;
  max-width: 90%;
  justify-content: space-around;
  margin: 0 auto;
  gap: 10px;
  
}
/* --------media queries------------ */

@media  screen and (max-width: 1260px){
  nav ul{
    gap: 15px;
    width: 100%;
    padding: 15px;
  }
  #language button{
    width: 65px;
    height: 25px;
    font-size: 12px;
  }  
}

@media screen and (max-width: 1050px){
  nav ul{
    gap: 20px;
    width: 90%;
    padding: 10px;
    font-size: 0.8rem;
   margin: 20px auto;
    
  }

  #language button{
    width: 60px;
    height: 22px;
    font-size: 11px;
  }

 
} 

@media screen and (max-width: 950px){
  .icon-part-container{
    flex-direction: column;
    gap: 50px;
  }

  .header-news{    
    grid-template-columns: 100%;    
  }
  .left-part{
    margin-bottom: 30px;   
  }
  .left-part h2 {
    text-align: center;
    margin-bottom: 15px;
  }

  .main-news-container{
    justify-content: center;
    gap: 30px;
}
  footer ul{
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 860px){
  nav{
  display: none;
  }
  
  .header-news{
    margin: 0 auto;
  }

  .main-news-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .main-news-container > div{
    max-width: 50%; 
  }
  .contact{
    display: none;
  }
}

@media screen and (max-width: 680px){
  .main-header{
    padding: 40px;
  }

  .main-header #logo img{
    width: 70%;
  }
  
  h1{
    font-size: 1rem;
    margin: 20px 0 25px; 
  }

  .main-header button{  
    padding: 12px 25px;
    font-size: 0.9rem;
  } 
}

@media screen  and (max-width: 425px){
  .main-header{
    padding: 30px;
  } 
  
  h1{
    font-size: 0.8rem;
    margin: 15px 0 20px; 
  }

  .main-header button{  
    padding: 8px 10px;
    font-size: 0.8rem;
  }

  .header-text{
    font-size: 1rem;
    line-height: 28px;    
  }

  .left-part h2{
    font-size: 1.2rem;
}
  .left-part p{
    font-size: 0.8rem;
    text-align: center; 
    margin: 0 auto; 
  }

  footer ul{
    font-size: 0.7rem;
  }
}


 /* @media screen  and (max-width: 895px){
  nav li{
    font-size: 0.7rem;
  }
  .main-header img{
    width: 60%;
  }

  .contact-list .list{
   padding-left: 15px;
 }
  .medias-logos img{
    width: 40px;  
  }
  footer ul{
    flex-wrap: wrap;
  }

  footer li{
    margin: 5px;
  }

}

@media screen  and (max-width: 704px){
  nav li{
    display: none;
  }

  .contact{
    display: none;
  }

  .left-part{
    width: 100%;
  }

  .left-part h2{
    text-align: center;
  }

  .main-news-container{
    display: block;
  }
  .main-news-container  div{
    max-width: 90%;
    margin: 0 auto ;
    padding-bottom: 15px;
    margin-top: 58px;
  }
} */